* {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
scroll-behavior: smooth;
margin: 0;
padding: 0;
}
:root {
--main-color: #2196f3;
--main-color-alt: #1787e0;
--main-transition: 0.3s;
--main-padding-top: 100px;
--main-padding-bottom: 100px;
--section-background: #ececec;
--para-text-color:#666;
--border-radious:10px;
--box-shadow:0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);}
body {
font-family: 'Cairo', sans-serif;
margin: 0;
}
ul {
list-style: none;
margin: 0;
padding: 0;
}
a {
text-decoration: none;
}
a:hover {
  background-color: white;
}
/* Start main title*/
.main-title {
text-transform: uppercase;
padding: 10px 20px;
width: fit-content;
position: relative;
margin: 0 auto 80px;
font-size: 30px;
transition: var(--main-transition);
z-index: 1;
letter-spacing: 2px;
}
.main-title::before, 
.main-title::after {
content: '';
width: 30px;
height: 6px;
position:absolute;
top: 50%;
transform: translateY(-50%);
background-color: var(--main-color);
border-radius: 30px;
}
.main-title::before {
left: -30px;
}
.main-title::after {
right: -30px;
}
.main-title:hover::before {
z-index: -1;
animation: left-content 0.6s linear forwards;
}
.main-title:hover::after {
z-index: -1;
animation: right-content 0.6s linear forwards;
}
.main-title:hover {
border: none;
color: white;

}
.dots {
background-image: url(../images/dots.png);
position: absolute;
height: 100px;
width: 204px;
background-repeat: no-repeat;

}
@media( max-width : 767px) {
.dots{
height: 60px;
width: 150px; 
}
.dots-down{
display: none;
}
}
.dots-up {
top: 200px;
left: 10px;
}
.dots-down {
bottom: 200px;
right: 010px;
}
.spikes {
position: relative;
box-shadow: var(--box-shadow);
}
.spikes::after {
content: "";
position: absolute;
right: 0;
width: 100%;
height: 13px;
z-index: 2;
background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
background-size: 100px 30px;}
/* End main title*/
.container{ 
padding-left: 20px;
padding-right: 20px;
margin-left:auto;
margin-right: auto;}
/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) { 
.container 
{ width:750px ;}
 }
/* // Medium devices (tablets, less than 992px) */
@media (min-width: 992px) { 
.container 
{ width:970px ;}
 }
/* // Large devices (desktops, less than 1200px) */
 @media (min-width: 1200px) { 
.container 
{ width:1170px ;} }
 /* end countiner rules responsive*/
/* start header*/
header {
background-color: white;
position: relative;
-webkit-box-shadow:0 0 10px #ddd ;
-moz-box-shadow:0 0 10px #ddd ;
box-shadow:0 0 10px #ddd ;
}
header .container {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}
header .logo {
color:var(--main-color);
font-weight: bold;
font-size: 27px;
height: 72px;
display: flex;
justify-content: center;
align-items: center;
padding: 0 20px;
letter-spacing: 5px;
text-transform: uppercase;
}
header .logo:hover {
color: black;
background-color: var(--main-color);
border-radius: var(--border-radious);
transition: 1s;
height: 35px;
box-shadow:0px 12px 20px 0px rgba(0, 0, 0, 0.027), 0px 2px 4px 0px rgba(0, 0, 0, 0.048);
}
@media (max-width: 768px) {
header .logo {
width: 100%;
height: 60px;}
}
header .main-nav {
display: flex;}
@media (max-width: 768px) { 
header .main-nav {
margin: auto;}
}
header .main-nav > li> a {
color: #444;
display: flex;
justify-content: center;
align-items: center;
position: relative;
height: 72px;
padding: 0 20px;
font-size: 18px;
overflow: hidden;
letter-spacing: 1px;
 
letter-spacing: 1px;
}
header .main-nav > li:hover .mega-menu {
opacity: 1;
z-index: 100;
top: calc(100% + 2px);
}
@media (max-width: 768px){
header .main-nav > li> a{
padding: 0 10px;
font-size: 15px;
height: 50px;
}
}
header .main-nav > li> a::after{
content: "";
position: absolute;
background-color: var(--main-color);
width: 100%;
height: 4px;
bottom: 0 ;
right:100%;
transition: var(--main-transition);
border-radius: 12px;
}
header .main-nav > li> a:hover {
color: var(--main-color);
transition:1s;
}
header .main-nav > li> a:hover::after {
right :0;
}
/* start mega menu*/
header .mega-menu {
position: absolute;
left:0 ;
padding: 30px;
background-color: white;
width: 100%;
border-bottom: 4px solid var(--main-color);
z-index: -1;
display: flex;
gap: 40px;
top: calc(100% + 50px);
opacity: 0;
transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
header .mega-menu{
flex-direction: column;
gap: 0;
padding: 10px;

}
}
header .mega-menu img {
max-width: 100%;
padding: 20px 0;
}
@media (max-width: 767px) {
header .mega-menu img {
position: relative;
left: 50%;
transform: translateX(-50%);
width: 50%;
}
}
header .mega-menu .links {
min-width: 250px;
flex: 1;
}
header .mega-menu .links li{
position: relative;
left: 0;
font-weight: bold;
}
header .mega-menu .links li::before {
content: '';
position:absolute;
top: 0;
left: 0;
width: 0;
height: 0;
/* background-color: var(--section-background); */
z-index: -1;
border-radius: 12px;
box-shadow: var(--box-shadow);
}
header .mega-menu .links li:hover::before {
height: 100%;
width: 100%;
 transition: var(--main-transition); 
}
header .mega-menu .links li a {
color: var(--main-color);
font-size: 18px;
display: block;
padding: 15px;
}
header .mega-menu .links li a i {
margin-right: 10px;
font-size: 25px;
}
/* end mega menu */
/* end header*/
/* start landing*/
.landing {
position: relative;
}
.landing::before {
content: "";
width: 100%;
position: absolute;
height: 100%;
background-color: #ECECEC;
z-index: -1;
top: -40px;
left: 0;
transform: skewY(-6deg);
transform-origin: top left;
}
.landing .container {
min-height: calc(100vh - 72px);
display: flex;
align-items: center;
padding-bottom: 120px;
}
@media (max-width: 991px) {
.landing .container {
flex-direction: column-reverse;
}
}
.landing .text {
flex: 1;
}
@media (max-width: 991px) {
.landing .text{
text-align: center;
margin-top: 190px;
transform: translateY(-50%);
}}
.landing .text h1 {
letter-spacing: -1px;
font-size: 35px;
margin: 0;
}
.landing .text p {
font-size: 18px;
color: var(--para-text-color);
line-height: 1.7;
margin: 5px 0 0;
max-width: 400px;
}
@media (max-width: 991px) {
.landing .text p {
margin: 10px auto;
}
}
.landing .image img {
position: relative;
width: 600px;
animation: up-and-down 2.5s linear infinite;
}
@media (max-width: 991px) {
.landing .image img {
width: 350px;
margin-top: 100px;
}
}
.landing .go-down {
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
font-size: 40px;
color: var(--main-color);
transition: var(--main-transition);
}
.landing .go-down:hover {
color: var(--main-color-alt);
}
.landing .go-down i {
animation: bouncing 1.75s infinite;
}
/* end landing */
/* start Articles*/
.articles{
padding-top: var(--main-padding-bottom);
padding-bottom: var(--main-padding-top);
position: relative;
}
.articles .container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px , 1fr ));
gap: 40px;
}
.articles .container .box {
overflow: hidden;
box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
border-radius: 6px;
background-color: white;
transition: transform var(--main-transition), box-shadow var(--main-transition) ;
}
.articles .box:hover {
transform: translateY(-15px);
box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .container img {
max-width: 100%;
}
.articles .content {
padding: 20px;
}
.articles .content h3 {
margin: 0;
text-transform: uppercase;

}
.articles .content p {
padding: 10px 0;
line-height: 1.7;
color: #777;
}
.articles .info {
padding: 20px;
border-top: 1px solid #e6e6e7;
display: flex;
align-items: center;
justify-content: space-between;
}
.articles .info a {
text-decoration: none;
font-weight: bold;
color: var(--main-color);
}
.articles .info i {
color: var(--main-color);}
.articles .box:hover i {
animation: moving-arrow 1s linear infinite;
}
 /* end Articles*/
 /* start gallery*/
.gallery {
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
position: relative;
background-color: var(--section-background);
}
.gallery .container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px , 1fr ));
gap: 60px
}
.gallery .container .box {
padding: 13px;
background-color: white;
box-shadow:0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image {
position: relative;
overflow: hidden;
}
.gallery .box .image::before {
content: "";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% ,-50%);
width: 0;
height: 0;
opacity: 0;
background-color: rgba(255, 255, 255, 30%);
z-index: 2;
}
.gallery .box .image:hover::before {
animation: flashing 0.7s;
}
.gallery .box .image img {
 max-width: 100%;
 transition: var(--main-transition);
}
.gallery .box .image:hover img {
transform: rotate(5deg) scale(1.1);
}
/* end gallery */
/* start featurs*/
.features {
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
position: relative;
background-color: white;
}
.features .container {
display: grid;
grid-template-columns: repeat(auto-fill,minmax( 300px,1fr));
gap: 30px;
}
.features .box {
text-align: center;
border: 1px solid #ccc;
}
.features .box .img-holder {
position: relative;
overflow: hidden;
}
.features .box .img-holder::before{
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;


}
.features .box .img-holder::after{
content: '';
position: absolute;
bottom: 0;
right: 0;
border-width: 0 0 170px 500px ;
border-style: solid;
border-color: transparent transparent white transparent;
transition: var(--main-transition);}
.features .box:hover .img-holder::after{
border-width: 170px 500px 170px 0; 

}
.features .box img {
max-width: 100%;
width: 100%;
}
.features .box h2 {
position: relative;
margin: auto;
font-size: 30px;
width: fit-content;
text-transform: uppercase;
}
.features .box h2::after {
content: "";
position: absolute;
left: 15px;
bottom: -20px;
width: calc(100% - 30px);
height: 5px ;
background-color: red;
border-radius: 20px;

}
.features .box p {
line-height: 1.7;
color: #777;
font-size: 20px;
padding: 20px;
margin: 20px 0;
}
.features .box a {
display: block; 
font-size: 25px;
border:3px solid black;
width: fit-content;
margin: 0 auto 30px;
padding: 7px 20px;
border-radius:8px ;
font-weight: bold;
transition: var(--main-transition);
}
.features .quality .img-holder::before {
background-color: rgba(255, 166, 0, 0.466);
}
.features .quality h2::after {
background-color: orange;
}
.features .quality a {
border-color: orange;
color: orange;
background: linear-gradient(to right, orange 50%, white 50%);
background-size: 200% 100%;
background-position: right bottom;

}
.features .time .img-holder::before {
background-color: #03a8f464;
}
.features .time h2::after {
background-color: #03a9f4;
}
.features .time a {
border-color: #03a9f4;
color: #03a9f4;
background: linear-gradient(to right, #03a9f4 50%, white 50%);
background-size: 200% 100%;
background-position: right bottom;
}
.features .passion .img-holder::before {
background-color: #d468d062;
}
.features .passion h2::after {
background-color: #d468d0;
}
.features .passion a {
border-color: #d468d0;
color: #d468d0;
background: linear-gradient(to right, #d468d0 50%, white 50%);
background-size: 200% 100%;
background-position: right bottom;

}
.features .box:hover a {
background-position: left bottom;
color: white;
} 
/* endfeatures */
/* start testimonials */
.testimonials {
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
position: relative;
background-color: var(--section-background);
}
.testimonials .container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap: 10px 30px ;
}
.testimonials .box {
position: relative;
background-color: white;
padding: 20px;
box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
border-radius: 10px;
}
.testimonials .box img {
position: absolute;
width: 100px;
height: 100px;
top: -50px;
right: -10px;
border-radius: 50%;
border: 8px solid var(--section-background);
}
.testimonials .box h3 {
margin: 0 0 10px;
font-size: 20px;
}
.testimonials .box .title {
margin-bottom: 10px;
color: #777;
display: block;
font-size: 20px;
color: var(--main-color);

}
.testimonials .box .fa-solid {
color: #ffc107;
}
.testimonials .box p {
color: #777;
line-height: 1.7;
margin-top: 10px;
font-size: 20px;
}
/* end testimonails */

.team {
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
position: relative;
}
.team .container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 40px 20px;
}
.team .box {
position: relative;
}
.team .box::before, 
.team .box::after {
content: "";
background-color: #f3f3f3;
position: absolute;
right:0;
top: 0;
height: 100%;
border-radius: 10px;
transition: var(--main-transition);
}
.team .box::before {
width: calc(100% - 60px);
z-index: -2;
}
.team .box::after {
z-index: -1;
background-color: #e4e4ee;
width: 0;
}
.team .box:hover::after {
width: calc(100% - 60px);
}
.team .box .data {
display: flex;
align-items: center;
padding-top: 60px;
}
.team .box .data img {
width: calc(100% - 60px);
transition: var(--main-transition);
border-radius: 10px;
}
.team .box:hover img {
filter: grayscale(100%);
}
.team .box .social {
width: 62px;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
}
.team .box .social a {
width: 60px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;} 
.team .box .social i {
color: #777;
transition: var(--main-transition);
}
.team .box .social i:hover {
color: var(--main-color);
}
.team .box .info {
padding-left: 80px;
} 
.team .box .info h3 {
font-size: 22px;
padding-top: 15px;
color: var(--main-color);
transition: var(--main-transition);
text-transform: uppercase;
}
.team .box .info p {
margin-top: 10px;
margin-bottom: 25px;
}
.team .box:hover .info h3 {
color: #777;
}
/* end team members */
/* start services */
.services {
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
position: relative;
background-color: var(--section-background);
}
.services .container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap:50px 40px;
}
.services .box {
position: relative;
background-color: white;
transition: var(--main-transition);
text-align: center;
counter-increment: services;
box-shadow:0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.services .box:hover {
transform: translateY(-15px);
box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.services .box::before {
content: "";
position: absolute;
right:50%;
transform: translateX(50%);
height: 2px;
top: -3px;
background-color: var(--main-color);
width: 0;
transition: var(--main-transition);
}
.services .box:hover::before{
width: 100%;
}
.services .box i {
color: #d5d5d5 ;
margin: 30px auto 20px;
}
.services .box h3 {
color: var(--main-color);
padding: 0 0 20px;
font-size: 27px; 
}
.services .box .info{
padding: 15px;
position: relative;
background-color: #f9f9f9;
text-align: right;
}
.services .box .info::before {
content: "0" counter(services);
position: absolute;
background-color: var(--main-color);
color: white;
font-weight: bold;
font-size: 30px;
height: 100%;
width: 80px;
left: 0;
top: 0;
display: flex;
justify-content: center;
align-items: center;
padding-right: 15px;
background-color: var(--main-color);
}
.services .box .info::after {
content: '';
position: absolute;
height:calc(100% + 0.4px);
background-color:#d5d5d5;
top: 0;
left: 80px;
width: 50px;
transform: skewX(-30deg)
}
.services .box .info a {
color: var(--main-color);
}
/* end services */
/* start our skills */
.our-skills {
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
position: relative;
}
.our-skills .container {
display: flex;
justify-content: space-between;
align-items: center;
} 
@media (max-width: 991px) {
.our-skills img {
display: none;
}  
}
.our-skills .skills {
flex: 1;
}
.our-skills .skill h3 {
display: flex;
justify-content: space-between;
align-items: center;
margin: 15px 0;
text-transform: uppercase;
}
.our-skills .skill h3 span {
font-size: 15px;
padding: 5px 7px;
border: 2px solid var(--section-background);
border-radius: 5px;
color: var(--main-color);
}
.our-skills .skill .the-progress {
height: 35px;
background-color: #eee;
position: relative;
border-radius: 5px;
}
.our-skills .skill .the-progress span {
position: absolute;
left: 0;
top: 0;
height: 100%;
background-color: var(--main-color);
transition: width 0.5s linear;
border-radius: 5px;

}
/* end our skills  */
/* start work steps  */
.work-steps {
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
position: relative;
background-color: var(--section-background);
}
.work-steps .container {
display: flex;
justify-content: space-between;
align-items: center;
}
@media (max-width:991px) {
.work-steps .container {
flex-direction: column;
gap: 100px;
}
}
.work-steps .container img {
max-width: 100%;
margin-right: 100px;
}
@media (max-width:991px) {
.work-steps .container img{
margin-right: 0;
}}
.work-steps .box {
position: relative;
background-color: #f6f5f5;
border: 2px solid white;
padding: 30px;
margin-bottom: 20px;
display: flex;
align-items: center;
border-radius: 10px;
z-index: 1;
}
.work-steps .box:hover {
transition: 1s;
box-shadow: 0 12px 20px 0 rgba(74, 72, 72, 0.13), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
@media (max-width:991px) {
.work-steps .box {
flex-direction: column;
text-align: center;}
}
.work-steps .box::before {
content: '';
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
background-color: white;
width: 0; 
height: 0;
z-index: -1;
transition: 0.5s;
border-radius: 10px;
}  
.work-steps .box:hover::before {
width: 100%;
height:  100%;

}
.work-steps .box img {
width: 72px;
margin-right: 29px;
}
@media (max-width:991px) {
.work-steps .box img {
margin: 0 0 15px;
}}
.work-steps .box h3 {
margin: 0;
font-size: 22px;
}
.work-steps .box p {
margin: 10px 0 0;
color: var(--para-text-color);
line-height: 1.7;
font-size: 15px;
}
/* end work steps  */
/* start events  */
.events {
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
position: relative;
}
.events .container {
display: flex;
align-items: center;
flex-wrap: wrap;
}
.events img {
max-width: 450px;
}
@media (max-width:991px) {
.events img {
max-width: 300px; 
margin: 20px auto;
}
}
.events .info {
flex: 1;
}
.events .time {
display: flex;
align-items: center;
gap: 10px;
margin: 20px auto;
justify-content: center;
}
.events .unit {
border: 2px solid #d4d4d4;
border-radius: 10px;
text-align: center;
width: 75px;
transition: var(--main-transition);
}
.events .unit:hover,.events .unit:hover span:first-child {
border-color: var(--main-color);
}
.events .unit span {
display: block;
}
.events .unit span:first-child {
font-weight: bold;
padding: 15px;
font-size: 35px;
border-bottom: 2px solid #d4d4d4 ;
color: var(--main-color);
transition: var(--main-transition);
}
.events .unit span:last-child {
font-size: 14px;
padding: 5px;
color: var(--para-text-color);
letter-spacing: 1.5px;
}
.events .title {
text-align: center;
font-size: 30px;
margin: 40px 0 0;
}
.events .description {
text-align: center;
margin: 18px 0 0;
font-size: 18px;
line-height: 1.7;
color: var(--para-text-color);
}
.events .subscribe {
width: 100%;
margin-top: 50px;
text-align: center;
}
.events .subscribe form {
width: 600px;
display: flex;
margin: 20px auto;
background-color: #f6f5f5;
padding: 30px 40px ;
gap: 20px;
border-radius: 50px;
}
@media (max-width:767px) {
.events .subscribe form {
max-width: 100%;
padding: 20px;
flex-direction: column;
border-radius: 5px;
}
}
.events .subscribe form input[type="email"] {
padding: 20px ;
border: none;
border-radius: 50px;
position: relative;
caret-color: var(--main-color);
flex: 1;
}
.events .subscribe form input[type="email"]:focus {
outline: none;
}
.events .subscribe form input[type="email"]::placeholder {
transition: opacity 0.5s;
}
.events .subscribe form input[type="email"]:focus::placeholder {
opacity: 0;
}
.events .subscribe form input[type="submit"] {
padding: 20px ;
border-radius: 50px;
background-color: var(--main-color);
color: white;
border: none;
font-weight: bold;
font-size: 20px;
text-transform: capitalize;
cursor: pointer;
transition: var(--main-transition);
}
.events .subscribe form input[type="submit"]:hover {
background-color: var(--main-color-alt);
}
/* end events  */
/* start pricing plans  */
.pricing {
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
position: relative;
background-color: var(--section-background);
}
.pricing .container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap: 40px;
}
.pricing .box {
position: relative;
background-color: white;
text-align: center;
box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
transition: var(--main-transition);
z-index: 1;
border-radius: 10px;
}
.pricing .box::before{ 
content: '';
position: absolute;
top: 92%;
left: 50%;
transform: translate(-50%, -92%);
width: 0;
height: 0;
background-color: #f6f6f6;
z-index: -1;
transition:0.5s;
border-radius: 10px;
}
.pricing .box:hover::before {
width: 100%;
height: 100%;  
}
@media (min-width: 1200px) {
.pricing .box.popular {
top: -20px;
}
}
.pricing .box .title {
padding-top: 25px;
font-weight: bold;
font-size: 25px;
letter-spacing: 1px;
}
.pricing .box .label {
position: absolute;
top: -1px;
right: 20px;
font-weight: bold;
font-size: 18px;
background-color: var(--main-color);
padding: 10px 10px 35px 10px;
writing-mode: vertical-rl;
color: white;
width: 40px;
text-transform: uppercase;
}
.pricing .box .label::before {
content: '';
position: absolute;
bottom: 0;
right: 0;
border-style: solid;
border-color: transparent transparent white transparent;
border-width: 20px;
}
.pricing .box img {
width: 80px;
margin: 30px auto;
}
.pricing .box .price {
margin-bottom: 20px;
}
.pricing .box .amount {
display: block;
font-size: 50px;
color: var(--main-color);
font-weight: bold;
padding-bottom: 5px;
}
.pricing .box .time {
font-size: 20px;
color: var(--para-text-color);
}
.pricing .box ul li  {
font-size: 20px;
border-top: 1px solid #eee ;
padding: 20px ;
text-align: left;
}
.pricing .box ul li::before{
font-family: "Font Awesome 5 Free";
content: "\f00c";
margin-right: 10px;
font-weight: bold;
font-size: 25px;
color: var(--main-color);
}
.pricing .box a {
display: block;
border: 1px solid var(--main-color);
padding: 15px 20px ;
width: fit-content;
margin: 30px auto 40px ;
border-radius: 10px;
color: var(--main-color);
font-weight: bold;
font-size: 20px;
text-transform: capitalize;
transition: var(--main-transition);
}
.pricing .box a:hover {
background-color: var(--main-color-alt);
color: white;
}
/* end pricing plans  */
/* start top videos */
.videos{
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
}
.videos .holder {
display: flex;
justify-content: center;
border: 1px solid #ddd;
background-color: var(--section-background);
}
@media (max-width: 991px ) {
.videos .holder {
flex-direction: column;
}
}
.videos .holder .list {
min-width: 300px;
background-color: white;
}
.videos .holder .name{
display: flex;
justify-content: space-between;
align-items: center;
font-size: 20px;
background-color: #f4f4f4;
padding: 20px;
}
.videos .holder .name h3{
font-weight: bold;
letter-spacing: 1px;
transition: var(--main-transition);
}
.videos .holder .name h3:hover {
cursor: pointer;
color: var(--main-color-alt);
transform: translateX(10px)
}
.videos .holder ul li {
padding: 15px ;
border-top: 1px solid var(--section-background);
}
.videos .holder ul li:hover {
background-color:#FAFAFA ;
color: var(--main-color-alt);
transition: var(--main-transition);
cursor: pointer;
}
.videos .holder ul li span {
display: block;
margin-top: 10px;
color: var(--para-text-color);
}
.videos .preview {
padding: 10px;
background-color: #e2e2e2;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.videos .preview img {
width: 100%;
max-width: 100%;

}
.videos .preview .info {
padding: 20px;
background-color: white;
margin-top: 10px;
border-radius: 10px;
}
/* end top videos */
/* start statistics  */
.stats {
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);  
background-image: url(../images/stats.jpg);
background-size: cover;
min-height: 300px;
position: relative;
}
.stats::before {
content: '';
position: absolute;
background-color:rgba(255, 255, 255, 0.944) ;
width: 100%;
height: 100%;
top: 0;
left: 0;
}
.stats h1 {
font-weight: bold;
font-size: 40px;
width: fit-content;
margin: 0 auto 50px;
position: relative;
}
.stats .container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 40px; 
}
.stats .box {
background-color: white; 
padding: 30px 15px ;
text-align: center;
position: relative;
transition: var(--main-transition);
display: flex;
opacity: 0.8;
flex-direction: column;
box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.stats .box:hover {
opacity: 1;
}
.stats .box::before {
content: '';
position: absolute;
width: 2px;
background-color: var(--main-color);
height: 0;
right: 0;
top: 0;
transition: 0.8s;
}
.stats .box::after{
content: '';
position: absolute;
width: 2px;
background-color: var(--main-color);
height: 0;
left: 0;
bottom:0; 
transition:0.8s;
}
.stats .box:hover::before ,.stats .box:hover::after {
height: 100%;
}
.stats .box i {
color: var(--main-color);
font-size: 40px;
font-weight: bold;
}
.stats .box .number {
font-size: 50px;
font-weight: bold;
margin: 10px;
}
.stats .box .text {
font-style: italic;
color: var(--para-text-color);
font-size: 20px;
font-weight: bold;
}
/* end .stats */
/* start Discount */
.discount {
display: flex;
flex-wrap: wrap;
min-height: 100vh;

}
.discount .image {
background-image: url(../images/discount-background1.jpg);
position: relative;
flex-basis: 50%;
background-size: cover;
color: white;
display: flex;
justify-content: center;
align-items: center;
z-index: 1;
animation: change-background 5s linear infinite;
}
@media (max-width: 991px) {
.discount .image {
flex-basis: 100%;
}
}
.discount .image::before {
content: '';
position: absolute;
background-color: rgba(74, 169, 244, 0.92);
width: 100%;
height: 100%;
left: 0;
top: 0;
z-index: -1;
}
.discount .content h2 {
letter-spacing: -1px;
font-size: 40px;
text-transform: capitalize;
padding: 30px 0;
}
.discount .content p {
line-height: 1.7;
font-size: 18px;
max-width: 500px;
}
.discount .content img {
width: 300px;
max-width: 100%;
}
.discount .form {
display: flex;
align-items: center;
justify-content: center;
flex-basis: 50%;
padding-bottom: 50px;
}
@media (max-width: 991px) {
.discount .form {
flex-basis: 100%;
}
}
.discount .form .input {
display: block;
width: 100%;
border: none;
margin-bottom: 25px;
background-color: #eee;
padding: 15px;
caret-color:var(--main-color) ;
border-radius: 5px;
box-shadow: 0 12px 20px 0 rgba(74, 72, 72, 0.13), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.discount form input::placeholder {
transition: opacity 0.5s;
}
.discount form input:focus::placeholder {
opacity: 0;
}
.discount .form textarea.input{
resize: none;
height: 200px;
}
.discount .form textarea.input::placeholder {
transition: opacity 0.5s;
}
.discount .form textarea.input:focus::placeholder {
opacity: 0;
}
.discount .form .input:focus{
outline: none;
}
.discount .form [type="submit"] {
display: block;
border: none;
padding: 20px 10px;
background-color: var(--main-color);
color: white;
width: 100%;
font-size: 25px;
border-radius: 5px;
font-weight: bold;
text-transform: capitalize;
cursor: pointer;
transition: var(--main-color);
}
.discount .form [type="submit"]:hover{
background-color: var(--main-color-alt);
box-shadow: 0 12px 20px 0 rgba(74, 72, 72, 0.13), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.discount .content {
text-align: center;
padding:  0 20px;}
/* end discount */
/* start footer  */
footer {
padding: 70px 0 0;
background-color: #191919;
position: relative;
}
@media (max-width :767px) { 
footer {
text-align: center;
}
}
footer .container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 40px;
padding-bottom:50px ;

}
footer .box h2 {
color: white;
font-weight: bold;
text-transform: uppercase;
font-size: 30px;
margin: 0 0 20px;
}
footer .box .social {
display: flex;
padding: 10px 0 30px;

}
@media (max-width :767px) {
footer .box .social {
justify-content: center;
}
}
footer .box .social li {
margin-right: 10px;
text-align: center;
}
footer .box .social li a {
background-color: #313131;
color: #b9b9b9;
display: inline-flex;
justify-content: center;
align-items: center;
width: 50px;
height: 50px;
font-size: 20px;
transition: var(--main-transition);
box-shadow: var(--box-shadow);
border-radius: var(--border-radious);
}
footer .box .social .facebook:hover {
background-color: #1877f2;
}
footer .box .social .twitter:hover {
background-color:#1da1f2;
}
footer .box .social .youtube:hover  {
background-color:#ff0000;
}
footer .box .text {
color: #b9b9b9;
line-height: 2;
font-weight:400;
}
footer .box .links  {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
footer .box .links li {
padding: 12px 0;
transition: var(--main-transition);
}footer .box .links li:not(:last-child) {
border-bottom: 1px solid #444;
}
footer .box .links li:hover  {
padding-left: 10px;
}
footer .box .links li:hover a {
 color: white;
}
footer .box .links li a  {
color: #b9b9b9;
transition: var(--main-transition);
}
footer .box .links li i {
color: var(--main-color);
margin-right: 5px;
font-weight: 900;
}
footer .box .line {
display: flex;
align-items: center;
margin-bottom: 10px;
color:#b9b9b9 ;
}
@media (max-width :767px) {
footer .box .line {
flex-direction: column ;
justify-content: space-around;}
}
footer .box .line i {
color: var(--main-color);
font-size: 25px;
margin-right: 15px;
}
footer .box .line p {
line-height:1.7 ;
flex: 1;
}
@media (max-width :767px) {
footer .box .line i {
padding: 20px;
}
}
footer .box .photos img {
width: 78px;
border: 3px solid white ; 
margin: 2px;
}
footer .copyright {
text-align: center;
color:var(--main-color);
border-top: 2px solid #444;
padding: 20px 0;
text-transform: capitalize;
}
/* end footer  */
@keyframes up-and-down{
0%, 100% {
bottom:0;
}
50% {
bottom :50px;}
}
@keyframes bouncing {
0%, 
10%, 
20%,
30%, 
50%,
70%,
80%,
90%,
100% {
transform: translateY(0px);
}
40%, 60% {
transform: translateY(-18px);
 }
}
@keyframes left-content {
50% {
left: 0;
width: 20px;
height: 4px;
}
100% {
left: 0;
border-radius:12px ;
width: 100%;
height: 80%;
background-color: var(--main-color-alt);
box-shadow: 0 12px 20px 0 rgba(74, 72, 72, 0.13), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
}
@keyframes right-content {
50% {
right:0;
width: 20px;
height: 4px;

}
100% {
right: 0;
border-radius:12px ;
width: 100%;
height: 80%;
background-color: var(--main-color-alt);
box-shadow: 0 12px 20px 0 rgba(74, 72, 72, 0.13), 0 2px 4px 0 rgb(0 0 0 / 12%);

}
}
@keyframes moving-arrow {
50% {
transform: translateX(10px);
}
}
@keyframes flashing {
0%, 40% {
opacity: 1;
}
100% {
opacity: 0;
width: 200%;
height: 200%;
}
}
@keyframes change-background {
0%, 
100% {
background-image: url(../images/discount-background1.jpg);
}
50% {
background-image: url(../images/discount-background2.jpg);
}
}
/* End animation*/
/* end landing*/
